.ordenes-page {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
}

.barraSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  border-bottom: 1px dotted rgb(158, 158, 158);
}

.barraSuperior h1 {
  margin: 0;
}

.usuarioBarra {
  display: flex;
  align-items: center;
}

.usuarioBarra p {
  margin-right: 10px;
}

.usuarioBarra svg {
  font-size: 30px;
}

.principal {
  padding: 25px;
}

.botones {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.crearPedidoBtn,
.mostrarPedidosBtn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.crearPedidoBtn:hover,
.mostrarPedidosBtn:hover {
  background-color: #232324;
}

.tablaOrdenes {
  width: 1180px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 90%;  /* Mantiene el ancho fijo para las columnas */
}

.tablaOrdenes th,
.tablaOrdenes td {
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;  
}

.tablaOrdenes th {
  background-color: #f4f4f4;
  text-align: center;
}

.tablaOrdenes .eliminarIcono {
  text-align: center;
}

.tablaOrdenes .deleteButton {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.tablaOrdenes .deleteButton:hover {
  background-color: unset;
}

.opTablaOrdenes,
.ventaTablaOrdenes{
  width: 70px;
  max-width: 70px;
}
.opTablaOrdenesTD,
.ventaTablaOrdenesTD{
  text-align: center;
  margin: 0 auto;
  overflow: hidden;         /* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis;  /* Agrega puntos suspensivos para texto truncado */
  white-space: nowrap;      /* Evita el salto de línea */
}
.proveedorTablaOrdenes{
  width: 200px;
}
.vendedorTablaOrdenes{
  width: 90px;
}
.fechasTablaOrdenes{
  width: 135px;
}
.estadoTablaOrdenes{
  width: 130px;
}
.notaTablaOrdenes{
  width: 320px;
  max-height: 20px;

}
.notaTablaOrdenesTD{
  max-width: 310px;         /* Ancho máximo */
  max-height: 40px;         /* Altura máxima */
  overflow: hidden;         /* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis;  /* Agrega puntos suspensivos para texto truncado */
  white-space: nowrap;      /* Evita el salto de línea */
}

.costoTablaOrdenes{
  width: 130px;
}
.costoTablaOrdenesTD,
.ventaTablaOrdenesTD{
  text-align: center;
  margin: 0 auto;
}

.opcionesTablaOrdenesTD{
  text-align: center;
  font-size: 20px;
}

.centradoEnTabla{
  text-align: center;
  margin: 0 auto;
}

.filtro-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.selectFiltro {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
}

.filtrarBtn {
  padding: 8px 20px;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filtrarBtn:hover {
  background-color: #232324;
}

.formularioActualizacion{
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 10px auto 15px;
  align-items: center;
}

.formularioActualizacion input,
.formularioActualizacion button,
.formularioActualizacion select {
  margin: 0;
  height: 35px !important;
}

.tablaInternaDescPedidos{
  width: 1000px;
  margin: 0 auto;
}
.tituloProductos{
  margin-left: 85px;
  margin-bottom: 15px;
}
.tablaInternaDescPedidos th{
  background-color: unset;
  border: none;
}

.tablaInternaDescPedidos td{
  border: none;
}

.tdCentrar{
  text-align: center;
  width: 150px;
}

.tdDescripcion{
  width: 700px;
}

.btnIconoTabla{
  background-color: unset;
  color: black;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 21px;
  margin: 0 auto;
}
.btnIconoTabla:hover{
  background-color: unset;
}

.btnIconoTabla svg{
  margin: 0 auto;
}

.descargarExcelBtn {
  background-color: unset;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0;
  margin-left: 0;
  font-size: 24px;
  background-color: unset;
  width: 40px;
  display: flex;
  align-items: center;
}
.descargarExcelBtn svg{
  margin: 0 auto;
}

.descargarExcelBtn:hover {
  background-color: unset;
  cursor: pointer;
}