.referencias-page {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
}

.barraSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  border-bottom: 1px dotted rgb(158, 158, 158);
}

.barraSuperior h1 {
  margin: 0;
}

.usuarioBarra {
  display: flex;
  align-items: center;
}

.usuarioBarra p {
  margin-right: 10px;
}

.usuarioBarra svg {
  font-size: 30px;
}

.formReferencias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 800px;
  gap: 10px;
  border: 1px solid black;
  padding: 18px;
}

.formReferencias input,
.formReferencias select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 35%;
  margin: 0;
}

.formReferencias button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formReferencias button:hover {
  background-color: #232324;
}



.tablaReferencias {
  width: 75%;
  border-collapse: collapse;
  margin: 40px auto;
}

.tablaReferencias th,
.tablaReferencias td {
  padding: 10px;
  border: 1px solid #ccc;
}

.tablaReferencias th {
  background-color: #f4f4f4;
  text-align: center;
}

.tablaReferencias td {
  text-align: left;
}

.tablaReferencias .editarIcono {
  text-align: center;
}

.editButton{
  background-color: unset !important;
}