.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #202020);
  background: linear-gradient(to right, #000000, #202020);
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.4); /* Sombra en el lado derecho */
}


.sidebar h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}

.sidebar h1 a{
  color: white;
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 230px;
}

.sidebar li {
  margin: 0 0 10px;
  text-align: left;
  padding: 3px 0 3px 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out; /* Transición más corta y fluida */
}

.sidebar li:hover {
  background-color: rgba(77, 77, 77, 0.4); /* Resalta al pasar el cursor */
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  width: 100%;
  padding: 10px 0;

}
.sidebar li svg {
  font-size: 23px;
  width: 25px;
  margin-right: 10px;
}
.sidebar li p {

}