/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del body */
body {
  font-family: "Roboto", serif;
  background-color: rgb(240, 242, 245);
  color: #333;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

/* Estilo para el contenedor principal de las páginas con sidebar y header */
.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  width: calc(100% - 270px); /* Asegura que el ancho sea correcto */
  margin-left: 270px; /* Deja espacio para el sidebar */
  padding: 0 30px;
  background-color: rgb(240, 242, 245);
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

/* Aseguramos que main no tenga padding innecesario */
main {
  padding: 0;
  width: 100%; /* Asegura que main ocupe todo el ancho disponible */
}